---
---
<header class="site-header">
  <div class="header-content">
    <a href="/" class="site-title">saminprogress<span class="blinking-cursor">_</span></a>
    <nav class="site-nav">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
